<h6> <em><span style="color:rgb(196, 192, 192)">Site Created at: <%=site.createdAt.toDateString()%>
    (<%= moment(site.createdAt).fromNow() %>)<br>
        Site (last) Updated at: <%=site.updatedAt.toDateString()%> ( <%=
                moment(site.createdAt).fromNow() %>)
                <br>by: <%= site.author.username%>
                    <%= site.author.job_position%></span></h6></em>